
Part I/combined_geographies_csv.csv
Part I/4.c_production_in_CSD_inQuebec.csv
Part I/combined_geographies_geojson.geojson
Part I/combined_productivity.csv
Part I/combined_productivity_clean.csv
Part I/weather_data_clean.csv
Part II/combined_productivity_clean.csv
Part II/merged_temp_clean_data.csv
Part II/Weather_2018 to 2024_BC/weather_data_clean.csv
Part II/merged_clean_data.csv
Part II/weather_geography_merged_1998_to_2018Feb.csv
Part II/merged_clean_data.csv
Part II/merged_clean_data.csv
Part II/weather_geography_merged_1998_to_2018Feb.csv
Part II/00_chustjarey_Checking.ipynb
Part II/alberta_station_counts.csv
Part II/weather_geography_merged_1998_to_2018Feb.csv
Part II/merged_clean_data.csv
Part II/weather_geography_merged_1998_to_2018Feb.csv
Part II/02_Weather_1998 to 2018-02.ipynb
Part II/merged_clean_data.csv
Part II/merged_clean_data.csv
*.csv
